*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

header {
    background: url(bg-hero.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: co;
}

.hero {
    width: 100%;
    height: 100%;
    background-color: rgba(40,40,45,.9);
}

.nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-logo img{
    width: 100%;
    margin-top: 40px;
}
.nav-left > li {
    display: inline;
}


.nav-right > li {
    display: inline;
}

.nav-link {
    text-decoration: none;
    margin-left: 20px;
    padding: 8px;
    color: antiquewhite;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
}

.active {
    color: #e9a438;
}

.hero__main {
    height: 90%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 0 120px;
}

.hero__main-left img{
    width: 100%;
}

.hero__main-right{
    width: 30%;
    margin-left: 50px;
}

